footer {
    background: var(--primary-color);
    padding: 80px 100px 20px 100px;
}

footer p {
    font-weight: 500;
    color: var(--white-color);
}

footer li {
    font-weight: 500;
    color: var(--white-color);
    font-size: 14px;
    padding: 8px 0px;
}

footer h6 {
    font-weight: 600;
    color: var(--white-color);
    font-size: 22px;
    margin-bottom: 20px;
}

footer input {
    background: #ffffff42;
    padding: 9px;
    border-radius: 10px;
    width: 95%;
    font-weight: 600;
    color: var(--white-color);
}
footer input::placeholder{
    color: var(--white-color);
}

footer form i {
    font-size: 43px;
    margin: -9px 0px -12px -42px;
    color: var(--secondary-color);
}

footer .socialMedia {
    display: flex;
}

footer .socialMedia i {
    font-size: 20px;
    height: 35px;
    width: 35px;
    background: #ffffff42;
    border-radius: 50%;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.downFooter {
    margin-top: 50px;
    border-top: 1px solid #fff;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.downFooter h2 {
    font-size: 16px;
    color: var(--white-color);
    font-weight: 500;
}

.downFooter h2 span {
    color: var(--secondary-color);
}


/* Responsive styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .w-full {
        width: 100%;
    }

    .mb-4 {
        margin-bottom: 1rem;
    }

    .px-2 {
        padding: 0 0.5rem;
    }

    .mt-6 {
        margin-top: 1.5rem;
    }

    .pt-6 {
        padding-top: 1.5rem;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }
}

@media (min-width: 769px) {
    .footer-content {
        flex-direction: unset;
    }

    .flex-wrap {
        flex-wrap: unset;
    }
}